.list_main {
  overflow: hidden;
}
.list_main .list_left {
  width: 198px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  float: left;
}
.list_main .list_left div {
  width: 168px;
  line-height: 35px;
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
  font-size: 14px;
  color: #666;
  position: relative;
  cursor: pointer;
}
.list_main .list_left div:hover {
  color: #cf1e2c;
}
.list_main .list_center {
  float: left;
  width: 980px;
  margin-left: 20px;
}
.list_main .list_center .list_center_nav {
  width: 100%;
  height: 36px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  position: relative;
  line-height: 36px;
}
.list_main .list_center .list_center_nav ul li {
  width: 29px;
  height: 36px;
  float: left;
  line-height: 36px;
  border-right: 1px solid #ddd;
  padding: 0 15px;
  color: #333;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.list_main .list_center .list_center_nav ul li:hover {
  background: #cf1e2c;
  color: #fff;
}
.list_main .list_center .list_center_main {
  width: 100%;
  height: 500px;
  border-top: 0;
  margin-top: 20px;
}

.template {
  width: 243px;
  height: 390px;
  float: left;
  position: relative;
  border: 1px solid #ddd;
}
.template .list_center_box {
  width: 213px;
  height: 340px;
  padding: 15px;
  border: 1px solid transparent;
  overflow: hidden;
}
.template .list_center_box .list_center_box_img {
  width: 220px;
  height: 220px;
  position: relative;
}
.template .list_center_box .list_center_box_img img {
  width: 100%;
  height: 100%;
}
.template .list_center_box .list_center_box_titl {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 12px;
}
.template .list_center_box .list_center_box_price {
  width: 100%;
  height: 35px;
}
.template .list_center_box .list_center_box_price span {
  font-size: 16px;
  color: #cf1e2c;
  margin-right: 15px;
}
.template .list_center_box .list_center_box_price del {
  float: right;
}
.template .list_center_box .list_center_box_buy {
  width: 226px;
  height: 40px;
  overflow: hidden;
}
.template .list_center_box .list_center_box_buy a:hover {
  background: #cf1e2c;
  color: #fff;
}
.template .list_center_box .list_center_box_buy .bu {
  padding: 0 20px;
  border: 1px solid #ccc;
  display: block;
  float: left;
  line-height: 30px;
  color: #666;
  margin-right: 30px;
  position: relative;
}
.template .list_center_box .list_center_box_buy .collect {
  padding: 0 20px 0 50px;
  line-height: 30px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  position: relative;
  color: #333;
}
.template .list_center_box .list_center_box_buy .collect .collect_icon {
  width: 20px;
  height: 22px;
  background: url(../images/icon.png) no-repeat;
  background-position: -80px -435px;
  position: absolute;
  top: 2px;
  left: 25px;
}

.box {
  width: 243px;
  height: 390px;
  float: left;
  position: relative;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.box .list_center_box {
  width: 213px;
  height: 340px;
  padding: 15px;
  border: 1px solid transparent;
  overflow: hidden;
}
.box .list_center_box .list_center_box_img {
  width: 220px;
  height: 220px;
  position: relative;
}
.box .list_center_box .list_center_box_img img {
  width: 100%;
  height: 100%;
}
.box .list_center_box .list_center_box_titl {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 12px;
}
.box .list_center_box .list_center_box_price {
  width: 100%;
  height: 35px;
}
.box .list_center_box .list_center_box_price span {
  font-size: 16px;
  color: #cf1e2c;
  margin-right: 15px;
}
.box .list_center_box .list_center_box_price del {
  float: right;
}
.box .list_center_box .list_center_box_buy {
  width: 226px;
  height: 40px;
  overflow: hidden;
}
.box .list_center_box .list_center_box_buy a:hover {
  background: #cf1e2c;
  color: #fff;
}
.box .list_center_box .list_center_box_buy .bu {
  padding: 0 20px;
  border: 1px solid #ccc;
  display: block;
  float: left;
  line-height: 30px;
  color: #666;
  margin-right: 10px;
  position: relative;
}
.box .list_center_box .list_center_box_buy .collect {
  padding: 0 20px 0 50px;
  line-height: 30px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  position: relative;
  color: #333;
}
.box .list_center_box .list_center_box_buy .collect .collect_icon {
  width: 20px;
  height: 22px;
  background: url(../images/icon.png) no-repeat;
  background-position: -80px -435px;
  position: absolute;
  top: 2px;
  left: 25px;
}

/*# sourceMappingURL=list.css.map */
